name: Optimize resource pack
permissions:
  contents: write

on:
  push:
    tags:
      - '**'
jobs:
  packsquash:
    name: Optimize resource pack
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # A non-shallow repository clone is required
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v3
        with:
          allow_optifine_mod: true # デフォルト: false / Optifine の有効化
          maximum_image_width_and_height: 8192 # デフォルト: 8192 / 画像の最大幅・高さ
      - name: Download optimized pack
        uses: actions/download-artifact@v3
        with:
          name: Optimized pack
      - name: Rename pack file
        run: mv pack.zip ${{ github.ref_name }}.zip
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ github.ref_name }}.zip
