name: Optimize resource pack for debug
permissions:
  contents: write

on:
  push:
    branches:
      - debug

jobs:
  packsquash:
    name: Optimize resource pack
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v3
        with:
          allow_optifine_mod: true
          maximum_image_width_and_height: 8192
